<%-include('partials/header') %>

<body class="chat">
	<%-include('partials/navigation') %>
	<div class="main">
		<div class="content">

			<div class="login-views">
				<form class="form-view">
					<div>
						<label>昵称</label>
						<input type="text" class="nickname" value="" placeholder="昵称" maxlength="10" />
					</div>
					<div>
						<label>房间代码</label>
						<input type="text" class="room" value="浑河聊天室" placeholder="房间代码" maxlength="10" />
					</div>
					<div>
						<label></label>
						<input type="submit" class="ok" value="好" />
					</div>
				</form>
				<div class="message-view" data-initial-message="欢迎来到浑河聊天室。" data-tips-message="输入您的昵称" data-room-message="输入房间代码" data-nickname-message="已经被占用，请换名登陆。">
					欢迎来到浑河聊天室。
				</div>
			</div>

			<div class="chat-views">
				<div class="chat-view">
					<div class="chat-history">
						<ol class="list">
							<%
							const LOOP = 0;
							for(const i of new Array(LOOP)) {
							%>
							<li>
								【mmmbee】欢迎来到浑河聊天室 ^_^!
								<i><%=new Date().toTimeString()%></i>
							</li>
							<%
							}
							%>
						</ol>
					</div>
					<div class="chat-users">
						<ol class="list">
							<%
							for(const i of new Array(LOOP)) {
							%>
							<li><a>大家</a></li>
							<%
							}
							%>
						</ol>
					</div>
				</div>
				<form class="tool-view">
					<div class="tool to">
						<input type="text" data-id="__EVERYONE" value="大家" readonly />
					</div>
					<div class="tool input">
						<input type="text" />
					</div>
					<div class="tool method">
						<label>私聊</label>
						<label class="switch">
							<input type="checkbox" />
							<span class="slider"></span>
						</label>
					</div>
					<div class="tool send">
						<input type="submit" value="发送" />
					</div>
					<div class="tool transfer">
						<input type="button" value="文件" class="filepicker" />
						<input type="file" class="file" />
					</div>
					<div class="tool quit">
						<input type="button" value="退出" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

<%-include('partials/footer') %>
