<%-include('partials/header') %>

<body class="home">
	<%-include('partials/navigation') %>
	<div class="main">
		<div class="content">
			<h1>浑河网</h1>
			<p>浑河网又回来了，这里还是我们的个人主页。你还记得它最初的样子吗？</p>
			<p>我们上一次更新还是在 2004 年，那时的版本代号停留在了 VI，那是一个我们这些老去的开发者头上还挂着“闪客”名头的时代，那是一个我们曾经的这些网吧小混混们还在当网管的时代。</p>
			<p>我们回归的日子是2023年4月8日夜，版本代号 VII。</p>
			<p>我们只想做最简单的网虫，存粹得一塌糊涂。</p>
			<p>感谢啊Q们，感谢金冠（我在的网吧），感谢超越（啊Q们的据点），感谢派网吧（啊Q2000在的网吧）。</p>
			<p><em>Thank you for visiting us.</em></p>
			<p><span>&copy;浑河工作室&trade; 1999 ~ 2023</span></p>
		</div>
	</div>
</body>

<%-include('partials/footer') %>
