@charset "UTF-8";
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  background: #eee url(https://img1.imgtp.com/2023/04/09/ZMRxygwS.jpeg) no-repeat center top/cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  line-height: 1;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
}
input:focus-visible {
  outline: none;
  border: 1px solid #999;
}
input[type=submit], input[type=button], input[type=reset] {
  cursor: pointer;
  border-width: 2px;
}

a {
  text-decoration: none;
  animation: 3s ease-in 1s;
  color: #000000;
}
a:hover {
  color: #0000ff;
  text-decoration: underline;
}

.navigation {
  margin: 0px 2rem 2rem;
  background: #fff;
  width: 768px;
  border-radius: 6px;
  display: block;
  opacity: 0.8;
}
.navigation ul {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.navigation ul li {
  list-style: none;
  padding: 0px;
}
.navigation ul li a {
  border: 1px solid #eee;
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-left: 1rem;
}
.navigation ul li a:hover {
  box-shadow: 0px 2px 10px -1px #010101;
}
.navigation ul li.active a {
  color: #0000ff;
}

.main {
  margin: 0px 2rem 2rem;
  background: #fff;
  border-radius: 6px;
  opacity: 0.9;
  box-shadow: 0px 2px 10px -1px #010101;
  width: 768px;
  height: 432px;
}
.main h1 {
  margin: 0px;
}
.main .content {
  margin: 2rem;
}

.chat .main .content {
  height: 100%;
  margin: 0px;
}
.chat .main .content .login-views {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.chat .main .content .login-views .message-view {
  margin: 1rem;
}
.chat .main .content .login-views .message-view.error {
  color: #ff0033;
}
.chat .main .content .login-views .form-view {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
}
.chat .main .content .login-views .form-view input {
  text-align: center;
}
.chat .main .content .login-views div {
  display: flex;
  flex-flow: column;
  margin: 0.2rem;
}
.chat .main .content .login-views div label {
  font-size: 80%;
  color: #333;
  display: block;
}
.chat .main .content .chat-views {
  height: 100%;
  display: none;
  flex-flow: column;
  position: relative;
}
.chat .main .content .chat-views.display {
  display: flex;
}
.chat .main .content .chat-views .chat-view {
  flex: 1;
  display: flex;
  margin: 0px;
  height: 0%;
}
.chat .main .content .chat-views .chat-view .chat-history {
  flex: 1;
  padding: 0px;
  border-right: 1px solid #eee;
  overflow: auto;
}
.chat .main .content .chat-views .chat-view .chat-history .list {
  list-style: none;
  padding: 0px;
  margin: 1rem;
}
.chat .main .content .chat-views .chat-view .chat-history .list li {
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
}
.chat .main .content .chat-views .chat-view .chat-history .list li.notification .user::after {
  content: "";
}
.chat .main .content .chat-views .chat-view .chat-history .list li .user {
  cursor: pointer;
}
.chat .main .content .chat-views .chat-view .chat-history .list li .user::after {
  content: ":";
  margin-right: 0.2rem;
}
.chat .main .content .chat-views .chat-view .chat-history .list li.time {
  text-align: center;
  color: #999;
  font-size: 0.8rem;
}
.chat .main .content .chat-views .chat-view .chat-history .list li.me {
  text-align: right;
}
.chat .main .content .chat-views .chat-view .chat-history .list li i {
  color: #999;
  font-style: normal;
}
.chat .main .content .chat-views .chat-view .chat-history .list li.me .user {
  cursor: pointer;
}
.chat .main .content .chat-views .chat-view .chat-history .list li.private {
  background: rgba(33, 149, 243, 0.1411764706);
}
.chat .main .content .chat-views .chat-view .chat-history .list li.highlight {
  background: rgba(131, 243, 33, 0.1411764706);
}
.chat .main .content .chat-views .chat-view .chat-history .list li .file a {
  cursor: pointer;
}
.chat .main .content .chat-views .chat-view .chat-history .list li .file a.disabled {
  cursor: not-allowed;
  color: #999;
}
.chat .main .content .chat-views .chat-view .chat-history .list li .file a.disabled:hover {
  color: #999;
  text-decoration: none;
}
.chat .main .content .chat-views .chat-view .chat-history .list li .file .cancel {
  color: #ff0033;
}
.chat .main .content .chat-views .chat-view .chat-users {
  padding: 0px;
  width: 120px;
  overflow: auto;
}
.chat .main .content .chat-views .chat-view .chat-users .list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.chat .main .content .chat-views .chat-view .chat-users .list li {
  width: 100%;
}
.chat .main .content .chat-views .chat-view .chat-users .list li.active {
  background: #eee;
}
.chat .main .content .chat-views .chat-view .chat-users .list li a {
  display: block;
  padding: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.chat .main .content .chat-views .chat-view .chat-users .list li a.dragging {
  background: #eee;
}
.chat .main .content .chat-views .tool-view {
  display: flex;
  padding: 0px;
  border-top: 1px solid #eee;
  border-radius: 6px;
  opacity: 0.9;
  width: 100%;
  bottom: 0px;
}
.chat .main .content .chat-views .tool-view .tool {
  margin: 0.5rem;
}
.chat .main .content .chat-views .tool-view .tool.input {
  flex: 1;
}
.chat .main .content .chat-views .tool-view .tool.input input {
  width: 100%;
}
.chat .main .content .chat-views .tool-view .to input {
  text-align: center;
  width: 120px;
}
.chat .main .content .chat-views .tool-view .send input {
  cursor: pointer;
  border-width: 2px;
}
.chat .main .content .chat-views .tool-view .send input:hover {
  border-color: #999;
}
.chat .main .content .chat-views .tool-view .method {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.chat .main .content .chat-views .tool-view .method .switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  margin-left: 0.5rem;
}
.chat .main .content .chat-views .tool-view .method .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.chat .main .content .chat-views .tool-view .method .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.chat .main .content .chat-views .tool-view .method .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.chat .main .content .chat-views .tool-view .method input:checked + .slider {
  background-color: #2196F3;
}
.chat .main .content .chat-views .tool-view .method input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.chat .main .content .chat-views .tool-view .method input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}
.chat .main .content .chat-views .tool-view .transfer {
  position: relative;
  overflow: hidden;
}
.chat .main .content .chat-views .tool-view .transfer .file {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  cursor: pointer;
  visibility: hidden;
}

@media (max-height: 470px) {
  .main {
    transform: scale(0.6);
  }
}
@media (max-height: 370px) {
  .main {
    transform: scale(0.5);
  }
}
@media (max-height: 270px) {
  .main {
    transform: scale(0.5);
  }
}
@media (max-height: 230px) {
  .main {
    transform: scale(0.4);
  }
}
@media (max-height: 180px) {
  .main {
    transform: scale(0.2);
  }
}
@media (max-height: 90px) {
  .main {
    transform: scale(1);
    padding: 0px;
  }
  .main::after {
    content: "什么情况?";
    display: block;
    text-align: center;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 1rem;
    color: #fff;
  }
  .main .content {
    height: 1px;
    overflow: hidden;
    padding: 0px;
  }
}

/*# sourceMappingURL=app.css.map */
