
body,html {
	width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body{
	padding: 20px;
}

body .markdown-body{
	margin: 0px auto 20px;
}