.studio {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    .functions {
      display: flex;
      row-gap: 0.5rem;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
      padding: 1rem;
    }

    textarea {
      height: 50%;
      margin-top: 1rem;
    }
  }
}