<?xml version='1.0' encoding='utf-8'?>
<widget id="mihui.net.tv" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>tv</name>
    <description>iOS TV</description>
    <author email="mihui.net@outlook.com" href="https://mihui.net">MIHUI</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
